In [3]:
import os
import pandas as pd
import pandasql as ps

In [15]:
import pandas as pd

# Load từng file .txt vào DataFrame riêng biệt
customer_202311_df = pd.read_csv('D:\\HKT\\HKT_Architect\\hackathon data\\customer\\customer_202311.txt', delimiter='|')
customer_202312_df = pd.read_csv('D:\\HKT\\HKT_Architect\\hackathon data\\customer\\customer_202312.txt', delimiter='|')
customer_202401_df = pd.read_csv('D:\\HKT\\HKT_Architect\\hackathon data\\customer\\customer_202401.txt', delimiter='|')
customer_202402_df = pd.read_csv('D:\\HKT\\HKT_Architect\\hackathon data\\customer\\customer_202402.txt', delimiter='|')

city_df = pd.read_csv('D:\\HKT\\HKT_Architect\\hackathon data\\master\\city.txt', delimiter='|')
product_df = pd.read_csv('D:\\HKT\\HKT_Architect\\hackathon data\\master\\product.txt', delimiter='|')

transaction_202311_df = pd.read_csv('D:\\HKT\\HKT_Architect\\hackathon data\\transaction\\transaction_202311.txt', delimiter='|')
transaction_202312_df = pd.read_csv('D:\\HKT\\HKT_Architect\\hackathon data\\transaction\\transaction_202312.txt', delimiter='|')
transaction_202401_df = pd.read_csv('D:\\HKT\\HKT_Architect\\hackathon data\\transaction\\transaction_202401.txt', delimiter='|')

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_29168\75547696.py:12: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  transaction_202311_df = pd.read_csv('D:\\HKT\\HKT_Architect\\hackathon data\\transaction\\transaction_202311.txt', delimiter='|')

In [26]:
import pandasql as ps

# Kiểm tra cột 'Customer_ID' trong các DataFrame của customer
for name, df in {"customer_202311": customer_202311_df, "customer_202312": customer_202312_df, 
                 "customer_202401": customer_202401_df, "customer_202402": customer_202402_df}.items():
    query = """
    SELECT 
        COUNT(Customer_ID) AS total_count,
        COUNT(DISTINCT Customer_ID) AS distinct_count

    FROM df
    """
    result = ps.sqldf(query, {"df": df})
    print(f"Kết quả cho {name}:")
    print(result)
    print("\n")

# Kiểm tra cột 'City_ID' trong bảng city
query = """
SELECT 
    COUNT(CityId) AS total_count,
    COUNT(DISTINCT CityId) AS distinct_count
FROM city_df
"""
result = ps.sqldf(query, {"city_df": city_df})
print("Kết quả cho city:")
print(result)
print("\n")

# Kiểm tra cột 'Product_ID' trong bảng product
query = """
SELECT 
    COUNT(Product_ID) AS total_count,
    COUNT(DISTINCT Product_ID) AS distinct_count
FROM product_df
"""
result = ps.sqldf(query, {"product_df": product_df})
print("Kết quả cho product:")
print(result)
print("\n")

# Kiểm tra cột 'Transaction_ID' trong các DataFrames của transaction
for name, df in {"transaction_202311": transaction_202311_df, "transaction_202312": transaction_202312_df, 
                 "transaction_202401": transaction_202401_df}.items():
    query = """
    SELECT 
        COUNT(Transaction_ID) AS total_count,
        COUNT(DISTINCT Transaction_ID) AS distinct_count
    FROM df
    """
    result = ps.sqldf(query, {"df": df})
    print(f"Kết quả cho {name}:")
    print(result)
    print("\n")

Kết quả cho customer_202311:
   total_count  distinct_count
0        82524           82524


Kết quả cho customer_202312:
   total_count  distinct_count
0         1829            1829


Kết quả cho customer_202401:
   total_count  distinct_count
0         1373            1373


Kết quả cho customer_202402:
   total_count  distinct_count
0         1043            1043


Kết quả cho city:
   total_count  distinct_count
0          130             130


Kết quả cho product:
   total_count  distinct_count
0          480             480


Kết quả cho transaction_202311:
   total_count  distinct_count
0       225833          221382


Kết quả cho transaction_202312:
   total_count  distinct_count
0        25287           25031


Kết quả cho transaction_202401:
   total_count  distinct_count
0        25572           25334

In [34]:
for name, df in {"customer_202311": customer_202311_df, "customer_202312": customer_202312_df, 
                 "customer_202401": customer_202401_df, "customer_202402": customer_202402_df}.items():
    query = """
    SELECT 
        COUNT(*) AS total_rows,
        SUM(CASE WHEN Age < 0 OR Age > 120 THEN 1 ELSE 0 END) AS out_of_range_count
    FROM df
    """
    result = ps.sqldf(query, {"df": df})
    total_rows = result['total_rows'][0]
    out_of_range_count = result['out_of_range_count'][0]
    
    print(f"Kết quả cho DataFrame '{name}':")
    print(f"  - Tổng số hàng: {total_rows}")
    print(f"  - Số lượng giá trị Age ngoài khoảng 0-120: {out_of_range_count}")
    print("\n")

Kết quả cho DataFrame 'customer_202311':
  - Tổng số hàng: 82524
  - Số lượng giá trị Age ngoài khoảng 0-120: 0


Kết quả cho DataFrame 'customer_202312':
  - Tổng số hàng: 1829
  - Số lượng giá trị Age ngoài khoảng 0-120: 0


Kết quả cho DataFrame 'customer_202401':
  - Tổng số hàng: 1373
  - Số lượng giá trị Age ngoài khoảng 0-120: 0


Kết quả cho DataFrame 'customer_202402':
  - Tổng số hàng: 1043
  - Số lượng giá trị Age ngoài khoảng 0-120: 0

In [43]:
import pandasql as ps

# Danh sách các cột cần kiểm tra NULL
columns_to_check = ["Customer_ID", "Name", "Email", "Phone", "Address", "City_ID", "Age", "Gender", "Income", "Customer_Segment"]

# Kiểm tra số lượng giá trị NULL trong từng cột cho mỗi DataFrame customer
for name, df in {"customer_202311": customer_202311_df, "customer_202312": customer_202312_df, 
                 "customer_202401": customer_202401_df, "customer_202402": customer_202402_df}.items():
    
    # Dùng vòng lặp để kiểm tra từng cột
    for col in columns_to_check:
        query = f"""
        SELECT 
            COUNT(*) AS total_rows,
            SUM(CASE WHEN {col} IS NULL THEN 1 ELSE 0 END) AS null_count
        FROM df
        """
        result = ps.sqldf(query, {"df": df})
        null_count = result['null_count'][0]
        
        print(f"  '{col}': {null_count} NULL")
    
    print("\n")

  'Customer_ID': 0 NULL
  'Name': 89 NULL
  'Email': 98 NULL
  'Phone': 110 NULL
  'Address': 80 NULL
  'City_ID': 59 NULL
  'Age': 18 NULL
  'Gender': 98 NULL
  'Income': 48 NULL
  'Customer_Segment': 29 NULL


  'Customer_ID': 0 NULL
  'Name': 3 NULL
  'Email': 2 NULL
  'Phone': 2 NULL
  'Address': 5 NULL
  'City_ID': 0 NULL
  'Age': 0 NULL
  'Gender': 3 NULL
  'Income': 1 NULL
  'Customer_Segment': 3 NULL


  'Customer_ID': 0 NULL
  'Name': 2 NULL
  'Email': 0 NULL
  'Phone': 2 NULL
  'Address': 1 NULL
  'City_ID': 1 NULL
  'Age': 1 NULL
  'Gender': 1 NULL
  'Income': 1 NULL
  'Customer_Segment': 1 NULL


  'Customer_ID': 0 NULL
  'Name': 1 NULL
  'Email': 2 NULL
  'Phone': 2 NULL
  'Address': 1 NULL
  'City_ID': 0 NULL
  'Age': 0 NULL
  'Gender': 2 NULL
  'Income': 1 NULL
  'Customer_Segment': 0 NULL

In [44]:
import pandasql as ps

# Giả sử DataFrame cho file 'city' là city_df
columns_to_check = ["City", "State", "Country"]

# Dùng vòng lặp để kiểm tra từng cột
for col in columns_to_check:
    query = f"""
    SELECT 
        COUNT(*) AS total_rows,
        SUM(CASE WHEN {col} IS NULL THEN 1 ELSE 0 END) AS null_count
    FROM city_df
    """
    result = ps.sqldf(query, {"city_df": city_df})
    null_count = result['null_count'][0]
    
    print(f"  '{col}': {null_count} NULL")

print("\n")

  'City': 0 NULL
  'State': 0 NULL
  'Country': 0 NULL

In [46]:
import pandasql as ps

# Giả sử DataFrame cho file 'city' là city_df
columns_to_check = ["Product_Name", "Product_Category", "Product_Brand", "Product_Type"]

print("Kết quả kiểm tra NULL cho DataFrame 'city':")

# Dùng vòng lặp để kiểm tra từng cột
for col in columns_to_check:
    query = f"""
    SELECT 
        COUNT(*) AS total_rows,
        SUM(CASE WHEN {col} IS NULL THEN 1 ELSE 0 END) AS null_count
    FROM product_df
    """
    result = ps.sqldf(query, {"product_df": product_df})
    null_count = result['null_count'][0]
    
    print(f"   '{col}': {null_count} NULL")

print("\n")

Kết quả kiểm tra NULL cho DataFrame 'city':
   'Product_Name': 0 NULL
   'Product_Category': 0 NULL
   'Product_Brand': 0 NULL
   'Product_Type': 0 NULL

In [49]:
# Giả sử DataFrame của file 'product' là product_df

# Phân loại theo Product_Category
print("Phân loại sản phẩm theo Product_Category:")
category_count = product_df.groupby('Product_Category').size().reset_index(name='count')
print(category_count)
print("\n")

# Phân loại theo Product_Brand
print("Phân loại sản phẩm theo Product_Brand:")
brand_count = product_df.groupby('Product_Brand').size().reset_index(name='count')
print(brand_count)
print("\n")

# Phân loại theo Product_Type
print("Phân loại sản phẩm theo Product_Type:")
type_count = product_df.groupby('Product_Type').size().reset_index(name='count')
print(type_count)
print("\n")

Phân loại sản phẩm theo Product_Category:
  Product_Category  count
0            Books     90
1         Clothing     90
2      Electronics    120
3          Grocery     90
4       Home Decor     90


Phân loại sản phẩm theo Product_Brand:
        Product_Brand  count
0              Adidas     30
1               Apple     30
2   Bed Bath & Beyond     30
3            BlueStar     10
4           Coca-Cola     30
5       HarperCollins     30
6          Home Depot     30
7                IKEA     30
8          Mitsubhisi     10
9              Nestle     30
10               Nike     30
11      Penguin Books     30
12              Pepsi     30
13       Random House     30
14            Samsung     30
15               Sony     30
16          Whirepool     10
17               Zara     30


Phân loại sản phẩm theo Product_Type:
                          Product_Type  count
0                             Bathroom     10
1                              Bedding     10
2                          BlueStar AC     10
3                           Children's     10
4                            Chocolate     10
5                               Coffee     10
6                          Decorations     20
7                                Dress     10
8                              Fiction     30
9                               Fridge     10
10                           Furniture     20
11                          Headphones     10
12                              Jacket     10
13                               Jeans     10
14                               Juice     20
15                             Kitchen     10
16                              Laptop     10
17                            Lighting     10
18                          Literature     10
19  Mitsubishi 1.5 Ton 3 Star Split AC     10
20                         Non-Fiction     30
21                               Shirt     10
22                               Shoes     20
23                              Shorts     10
24                          Smartphone     30
25                              Snacks     10
26                          Soft Drink     20
27                             T-shirt     20
28                              Tablet     20
29                          Television     20
30                            Thriller     10
31                               Tools     10
32                               Water     20

In [51]:


# Danh sách các cột cần kiểm tra NULL
columns_to_check = ["Transaction_ID", "Customer_ID", "Product_ID", "Date", "Time", 
                    "Quantity", "Price", "Feedback", "Shipping_Method", 
                    "Payment_Method", "Order_Status", "Ratings"]

# Kiểm tra số lượng giá trị NULL trong từng cột cho mỗi DataFrame transaction
for name, df in {"transaction_202311": transaction_202311_df, 
                 "transaction_202312": transaction_202312_df, 
                 "transaction_202401": transaction_202401_df}.items():
    print(f"Kết quả kiểm tra NULL cho DataFrame '{name}':")
    
    # Dùng vòng lặp để kiểm tra từng cột
    for col in columns_to_check:
        query = f"""
        SELECT 
            COUNT(*) AS total_rows,
            SUM(CASE WHEN {col} IS NULL THEN 1 ELSE 0 END) AS null_count
        FROM df
        """
        result = ps.sqldf(query, {"df": df})
        null_count = result['null_count'][0]
        
        print(f"   '{col}': {null_count} NULL")
    
    print("\n")

Kết quả kiểm tra NULL cho DataFrame 'transaction_202311':
   'Transaction_ID': 241 NULL
   'Customer_ID': 224 NULL
   'Product_ID': 2 NULL
   'Date': 0 NULL
   'Time': 0 NULL
   'Quantity': 275 NULL
   'Price': 275 NULL
   'Feedback': 131 NULL
   'Shipping_Method': 266 NULL
   'Payment_Method': 222 NULL
   'Order_Status': 181 NULL
   'Ratings': 131 NULL


Kết quả kiểm tra NULL cho DataFrame 'transaction_202312':
   'Transaction_ID': 25 NULL
   'Customer_ID': 29 NULL
   'Product_ID': 0 NULL
   'Date': 0 NULL
   'Time': 0 NULL
   'Quantity': 34 NULL
   'Price': 24 NULL
   'Feedback': 16 NULL
   'Shipping_Method': 19 NULL
   'Payment_Method': 22 NULL
   'Order_Status': 11 NULL
   'Ratings': 16 NULL


Kết quả kiểm tra NULL cho DataFrame 'transaction_202401':
   'Transaction_ID': 27 NULL
   'Customer_ID': 25 NULL
   'Product_ID': 0 NULL
   'Date': 0 NULL
   'Time': 0 NULL
   'Quantity': 21 NULL
   'Price': 34 NULL
   'Feedback': 17 NULL
   'Shipping_Method': 25 NULL
   'Payment_Method': 33 NULL
   'Order_Status': 22 NULL
   'Ratings': 17 NULL